.ocr-container {
  background-color: #282c34;
  color: white;
}
.dropzone-style {
  border: '2px dashed #cccccc';
  border-radius: '4px';
  padding: '20px';
  text-align: 'center';
  cursor: 'pointer';
  margin: '20px 0';
}
.download-demo {
  display: flex;

  justify-content: flex-start;
}
